body {
    background-color: black;
    font-family: 'Courier new', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 4rem;
    color: red;
}

@media only screen and (max-width: 600px) {
    
    h1 {
        padding-left: 2em;
        padding-right: 2em;
    }

}

p {
    color: #07e800;
    font-size: 1.5em;
    text-shadow: 0px 0px 2em #07e800;
}

.intro {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    
    .intro {
        width: 90%;
    }

}

.button {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

button {
    padding: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
}

.feature {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: #0a0269;
}

@media only screen and (max-width: 600px) {
    
    .feature {
        width: 80%;
    }

}